@model IEnumerable<Basis.Bookstore.Mvc.Models.ChartModel>;

@{
    ViewData["Title"] = "Index";
}

<h1>Relatório de Livros</h1>

<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Autor)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Assunto)
                 </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.FormaCobranca)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DataPublicacao)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>                    
                    <td scope="row">@Html.DisplayFor(modelItem => item.Codl)</td>
                    <td>@Html.DisplayFor(modelItem => item.Titulo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Autor)</td>
                    <td>@Html.DisplayFor(modelItem => item.Assunto)</td>
                    <td>@Html.DisplayFor(modelItem => item.FormaCobranca)</td>
                    <td>@Html.DisplayFor(modelItem => item.DataPublicacao)</td>
                    <td>@Html.DisplayFor(modelItem => item.Preco)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

