@model IEnumerable<Basis.Bookstore.Core.Application.UseCases.Books.BookResult>

@{
    ViewData["Title"] = "Index";
}


<h1>Livros</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<div class="container-fluid">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Título
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Publicado por
                </th>
                <th>
                    Edição
                </th>
                <th>
                    Publicado em
                </th>
                <th>
                    Autores
                </th>
                <th>
                    Assuntos
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishedYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorsText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectsText)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |                     
                        <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>